.root {
  list-style: none;
}


.item {
}

.link:hover {
  background: var(--color-gray-dark);
}

.link {
  display: flex;
  padding: var(--size-normal) var(--size-xxlarge);
  font-size: var(--size-normal);
  line-height: var(--size-large);
  text-decoration: none;
  transition: all .1s ease-out;
}
