.root,
.normal,
.h1 {
  color: var(--color-black);
  font-family: var(--font-family-heading);
  font-weight: normal;
  font-size: var(--size-large);
  line-height: var(--size-xlarge);
  text-transform: uppercase;
}

.h2 {
  font-size: var(--size-normal);
  line-height: var(--size-large);
}

.h3 {
  font-size: var(--size-small);
  line-height: var(--size-normal);
}
