.root {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 500px;
  flex-shrink: 1;
}

.row {
  margin-bottom: var(--size-large);
}

.label {
  margin-bottom: var(--size-xsmall);
  display: flex;
  flex-direction: column;
  font-size: var(--size-small);
  line-height: var(--size-normal);
}

.error {
  margin-top: var(--size-xsmall);
  font-size: var(--size-small);
  line-height: var(--size-normal);
}

.actions {
  display: flex;
  align-items: center;
}

.actions > *:not(last-child) {
  margin-right: var(--size-normal);
}
